{{ define "header" }}
<nav class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand" href="/">Pet</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#thestupidcollapsiblemenu" aria-controls="thestupidcollapsiblemenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="thestupidcollapsiblemenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stats">Stats</a>
            </li>
        </ul>
        <ul class="navbar-nav">
        {{ if .LoggedIn }}
        <li class="nav-item dropdown">
            {{ if .Account.Pet }}
            {{ $pet := .Account.Pet }}
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ if .Account.Pet.Image }}
                    <img src="{{ $pet.Image }}" id="navbar-profile-menu-img" />
                {{ else }}
                    PROFILE
                {{ end }}
            </a>
            <div class="dropdown-menu" id="navbar-profile-menu" aria-labelledby="navbarDropdownMenuLink">
                <div id="navbar-profile-name">{{$pet.Name}}</div>
                <a class="dropdown-item" href="{{ .Account.Pet.Url }}">My page <span class="fa fa-user dropdown-item-icon"></span></a>
                <a class="dropdown-item" href="/settings">Settings <span class="fa fa-cog dropdown-item-icon"></span></a>
                <a class="dropdown-item" href="/logout">Logout <span class="fa fa-sign-out dropdown-item-icon"></span></a>
            </div>
            {{else}}
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PROFILE
            </a>
            <div class="dropdown-menu" id="navbar-profile-menu" aria-labelledby="navbarDropdownMenuLink">
                <div id="navbar-profile-name">Profile name not set</div>
                <a class="dropdown-item" href="/settings">Settings <span class="fa fa-cog dropdown-item-icon"></span></a>
                <a class="dropdown-item" href="/logout">Logout <span class="fa fa-sign-out dropdown-item-icon"></span></a>
            </div>
            {{end}}
        </li>
        {{ else }}
            <li class="nav-item">
                <a class="nav-link" href="/login">Login <span class="fa fa-sign-in"></span></a>
            </li>
        {{ end }}
        </ul>
    </div>
</nav>
<div class="triangle-bottom-big triangle-bottom-main"></div>
{{ end }}
