{{ define "pet-card" }}
{{ $pet := . }}
<div class="general-card">
	<div class="triangle-top triangle-top-darktet"></div>
	<div class="general-card-top">
		<div class="general-card-name">
			{{ $pet.Name }}
		</div>
	</div>
	<div class="general-card-middle">
		<div class="general-card-image">
			{{ if $pet.Image }}
				<div style="background-image: url({{ $pet.Image }});" class="general-card-img"></div>
            {{ end }}
		</div>
	</div>
	<div class="general-card-body">
		<div class="general-card-stats">
			<div class="general-card-role">
				Love Received
			</div>
			<div class="general-card-stats-stat">
				{{ $pet.PetsRecievedTotal }}
			</div>
		</div>
		<div class="general-card-pet-links">
			<a href="{{ $pet.Url }}" class="general-card-pet-link">
				PET ME
			</a>
		</div>
	</div>
	<div class="triangle-bottom triangle-bottom-main"></div>
</div>
{{ end }}
