{{ define "content" }}
{{ $pet := .Data }}
<div id="pet-content">

<section class="general-section">
    <div class="triangle-top-big triangle-top-darktet"></div>
        <h1 class="general-section-header" id="pet-header">
            {{ $pet.Name }}
        </h1>
        <article class="general-article" id="pet-article">
            <div class="pet-body">
                <!-- <img src="{{$pet.Image}}" alt="{{$pet.Name}}" id="pet-image" /> -->
                <div id="pet-image" style="background-image: url({{$pet.Image}});"></div>
                <button class="general-button" id="pet-link">Copy link</button>
                <div class="triangle-bottom triangle-bottom-darktet"></div>
                <div class="pet-errors" id="pet-link-copied"></div>
                <div class="pet-errors" id="pet-self-error"></div>
                <div id="pet-buttons">
                    {{ $petMethodNames := .PetMethodNames }}
                    {{ range $i, $method := .PetMethods }}
                    <div class="pet-button-container">
                        <button class="pet-button pet-data-action" data-method="{{ $method }}" id="pet-{{$pet.Id}}-{{$method}}-button">
                            <span id="pet-{{$pet.Id}}-{{$method}}-buttton-text">
                                {{ index $petMethodNames $method }}
                            </span>
                        </button>
                        <div class="pet-button-stats">
                            <label class="pet-button-stats-label">
                                received
                            </label>
                            <label class="pet-button-stats-stat" id="pet-{{$pet.Id}}-{{$method}}-received">
                                {{ $pet.GetPets $method }}
                            </label>
                        </div>
                        <div class="pet-button-overlay" id="pet-{{$pet.Id}}-{{$method}}-overlay"></div>
                        <div class="pet-button-overlay-text" id="pet-{{$pet.Id}}-{{$method}}-overlay-text"></div>
                    </div>
                    {{ end }}
                </div>
                <div class="triangle-top triangle-top-darktet"></div>
            </div>
            <div id="pet-bottom">
                <h1 class="general-section-header" id="pet-header-stats">
                    STATS
                </h1>
                <div id="pet-stats-body">
                    <div class="triangle-bottom triangle-bottom-darktet"></div>
                    <div class="row pet-stats-row">
                        <div class="col pet-stats-label">
                            Total love received: 
                        </div>
                        <div class="col">
                            {{ $pet.PetsRecievedTotal }}
                        </div>
                    </div>
                    <div class="row pet-stats-row">
                        <div class="col pet-stats-label">
                            last love received:
                        </div>
                        <div class="col">
                            {{ if eq ($pet.PetsRecievedAt.UnixNano) (0) }}
                            <em><b>NEVER</b></em>
                            {{ else }}
                            {{ $pet.PetsRecievedAt.Format "Jan 02, 2006" }}
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <div class="triangle-bottom-big triangle-bottom-darkaccnt"></div>
</section>
<div class="websocket-alert" id="websocket-alert"></div>

<!-- {{ if call .Account.HavePermission "MODERATOR" }}
<div id="pet-moderator-container">
    <div class="triangle-top-big triangle-top-darktet"></div>
    <h3 class="general-section-header" id="pet-moderator-header">
        Moderator tools
    </h3>
    <div class="pet-body">
        <button class="general-button pet-moderator-button errormsg-success" id="pet-moderator-edit" data-toggle="modal" data-target="#pet-moderator-modal-edit">
            edit
        </button>
        <button class="general-button pet-moderator-button errormsg-error" id="pet-moderator-ban" data-toggle="modal" data-target="#pet-moderator-modal-ban">
            Ban
        </button>
    </div>
    <div class="triangle-bottom-big triangle-bottom-darktet"></div>
</div>

<div class="modal fade" id="pet-moderator-modal-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="pet-settings-triangle-top"></div>
            <div class="modal-header">
                <h5 class="modal-title">Edit {{petname}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="modal-close-button">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/settings/name?petId={{$pet.Id}}" method="post" id="settings-name-change">
                    <div class="settings-inputgroup">
                        <p>CHANGE DISAPLY NAME</p>
                        <div class="row settings-current">
                            <div class="col-3">
                                <label>current name:</label>
                            </div>
                            <div class="col" id="settings-currentname">
                                {{$pet.Name}}
                            </div>
                        </div>
                        <div class="row settings-input">
                            <div class="col">
                                <input type="text" name="name" id="settings-nameinput" placeholder="Displayname" value="{{$pet.Name}}"/>
                            </div>
                        </div>
                        <div class="row settings-checkboxes">
                            <div class="col">
                                <label class="settings-checkbox"><span class="fa fa-asterisk settings-required"></span> You consent that the name is <em>NOT</em> offenssive
                                    <input type="checkbox" id="settings-name-consent-check">
                                    <span class="settings-checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row settings-buttons">
                            <div class="col">
                                <span class="settings-errormsg" id="settings-name-errormsg">You need to consent that your name is not offenssive.</span>
                                <div class="mod-buttons">
                                    <button type="button" class="btn settings-button" id="settings-name-submit">Set name</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form action="/settings/image/delete?petId={{$pet.Id}}" method="post">
                    <div class="settings-inputgroup">
                        <div class="row settings-input">
                            <div class="col">
                                <form action="/settings/image/delete?petId={{$pet.Id}}" method="post" id="settings-image-delete">
                                    <button type="button" class="btn settings-button" id="settings-name-submit">Remove image</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="pet-settings-triangle-bottom"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="pet-moderator-modal-ban" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="triangle-top triangle-top-darktet"></div>
            <div class="modal-header">
                <h5 class="modal-title">Ban {{$pet.Name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="modal-close-button">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-delete">
                    Are you sure you want to ban {{$pet.Name}} permamently?
                </div>
            </div>
            <div class="modal-footer">
                <form action="/settings/ban?petId={{$pet.Id}}" method="post" id="pet-modal-ban">
                    <button type="button" class="general-button modal-button errormsg-success" data-dismiss="modal">
                        CANCEL
                    </button>
                    <button type="submit" class="general-button modal-button errormsg-error">
                        BAN
                    </button>
                </form>
            </div>
            <div class="triangle-bottom triangle-bottom-darktet"></div>
        </div>
    </div>
</div>
<script src="/static/js/modTools.js"></script>
{{ end }} -->

{{ if call .Account.HavePermission "MODERATOR" }}
<div id="pet-moderator-container">
    <div class="triangle-top-big triangle-top-darktet"></div>
    <h3 class="general-section-header" id="pet-moderator-header">
        Moderator tools
    </h3>
    <div class="pet-body">
        <button class="general-button pet-moderator-button errormsg-success" id="pet-moderator-edit" data-toggle="modal" data-target="#pet-moderator-modal-edit">
            edit
        </button>
        <button class="general-button pet-moderator-button errormsg-error" id="pet-moderator-ban" data-toggle="modal" data-target="#pet-moderator-modal-ban">
            Ban
        </button>
    </div>
    <div class="triangle-bottom-big triangle-bottom-darktet"></div>
</div>


<div class="modal fade" id="pet-moderator-modal-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="pet-settings-triangle-top"></div>
            <div class="modal-header">
                <h5 class="modal-title">Edit {{petname}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="modal-close-button">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row settings-row">
                    <div class="col-3 settings-left-column">
                        DISPLAY NAME
                    </div>
                    <div class="col settings-right-column">
                        <form action="settings/name" method="POST" id="settings-name-change">
                            <!-- TODO: make this ajax. the endpoint already does json replies -->
                            <!-- {"success": true, "message": "someErrorMessage"} -->
                            <!-- warning popup that changing your name changes your pet URL? -->
                            {{ if .Account.Name }}
                            <p>If you change your name the URL on which you receive affection may change!</p>
                            <div class="settings-input-group">
                                <div class="settings-label">
                                    Current name:
                                </div>
                                <div id="settings-current-name">
                                    {{ .Account.Name }}
                                </div>
                            </div>
                            {{ else }}
                            <p>To be able to receive affection from others you need to set a name!</p>
                            {{ end }}
                            <div class="settings-input-group">
                                <div class="settings-label">
                                    New name:
                                </div>
                                (Maximum: 32 letters)<br/>
                                You have: <span class="" id="settings-name-used"></span> left.
                                <input type="text" name="name" class="" id="settings-name-input" placeholder="Desired name here" value="{{.Account.Name}}" maxlength="32" autocomplete="on" />
                            </div>
                            <div class="settings-input-group">
                                <label for="settings-name-consent" class="settings-checkbox"><span class="settings-required">*</span> You consent that your name is <em>NOT</em> NSFW, or offensive.
                                    <input type="checkbox" id="settings-name-consent" />
                                    <span class="settings-checkmark"></span>
                                </label>
                            </div>
                            <div class="settings-input-group">
                                <div class="settings-error-msg" id="settings-name-error"></div>
                                <button type="submit" class="general-button" id="settings-name-submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row settings-row">
                    <div class="col-3 settings-left-column">
                        IMAGE
                    </div>
                    <div class="col settings-right-column">
                        <form action="settings/image" method="POST" id="settings-image-change">
                            <div class="settings-input-group">
                                <div class="settings-label">
                                    Current image:
                                </div>
                                {{ if .Account.Pet }}
                                {{ if .Account.Pet.Image }}
                                <img src="{{ .Account.Pet.Image }}" id="settings-current-image" />
                                {{ else }}
                                <p><b><em>None</em></b></p>
                                {{ end }}
                                {{ else }}
                                <p><b><em>None</em></b></p>
                                {{ end }}
                            </div>
                            <div class="settings-input-group">
                                <div class="settings-label">
                                    New image:
                                </div>
                                (Maximum: 2 mb)<br>
                                <input type="file" name="image" id="settings-image-input" accept="image/*" />
                                <label for="settings-image-input" class="general-button" id="settings-image-input-label">Choose file</label>
                            </div>
                            <div class="settings-input-group">
                                <label for="settings-image-consent" class="settings-checkbox"><span class="settings-required">*</span> You consent that we can use your image on our website.
                                    <input type="checkbox" id="settings-image-consent" />
                                    <span class="settings-checkmark"></span>
                                </label>
                                <label for="settings-image-nsfw" class="settings-checkbox"><span class="settings-required">*</span> You consent that your image is <em>NOT</em> NSFW, or offensive.
                                    <input type="checkbox" id="settings-image-nsfw" />
                                    <span class="settings-checkmark"></span>
                                </label>
                            </div>
                            <div class="settings-input-group">
                                <div class="settings-error-msg" id="settings-image-error"></div>
                                <button type="submit" class="general-button" id="settings-image-submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="pet-settings-triangle-bottom"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="pet-moderator-modal-ban" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="triangle-top triangle-top-darktet"></div>
            <div class="modal-header">
                <h5 class="modal-title">Ban {{ $pet.Name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="modal-close-button">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-delete">
                    Are you sure you want to ban {{ $pet.Name }} permamently?
                </div>
            </div>
            <div class="modal-footer">
                <div class="settings-error-msg" id="pet-ban-error"></div>
                <form action="/settings/ban?petId={{$pet.Id}}" method="post" id="pet-modal-ban">
                    <button type="button" class="general-button modal-button errormsg-success" data-dismiss="modal">
                        CANCEL
                    </button>
                    <button type="submit" class="general-button modal-button errormsg-error">
                        BAN
                    </button>
                </form>
            </div>
            <div class="triangle-bottom triangle-bottom-darktet"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/modTools.js"></script>

{{ end }}













</div>

<div class="pet-settings-container">
    <div class="pet-mod-settings">
        {{ if call .Account.HavePermission "MODERATOR" }}
            <div class="main-section-triangle-top"></div>
            <div class="mod-content">
                <div class="mod-header">
                    Mod tools
                </div>
                <div class="mod-buttons">
                    <button type="button" data-toggle="modal" data-target="#pet-ban-modal" class="mod-button errormsg-error" id="mod-button-ban">
                        Ban
                        <!-- pressing this will trigger modal -->
                    </button>
                    <button type="button" data-toggle="modal" data-target="#pet-edit-modal" class="mod-button errormsg-success" id="mod-button-edit">
                        EDIT
                        <!-- pressing this will trigger modal -->
                    </button>
                </div>
            </div>
            <div class="pet-settings-triangle-bottom"></div>
        {{ end }}
    </div>
    <div class="pet-settings-triangle-top"></div>
    <div class="container-md">
        {{ $pet := .Data }}
        <div id="pet-card">
            <div id="pet-top">
                <div id="pet-top-title">Pet page of</div>
                <div id="pet-username">{{ $pet.Name }}</div>
            </div>
            <div id="pet-middle">
                <div id="pet-img-cont">
                    {{ if $pet.Image }}
                        <img id="pet-img" src="{{$pet.Image}}" alt="{{$pet.Name}}" />
                    {{ end }}
                </div>
                <div id="pet-get-link-cont">
                    <button class="pet-button-btn pet-button-text" id="pet-link-button">Copy link</button>
                    <span class="pet-selferror" id="pet-link-copy-msg"></span>
                </div>
            </div>
            <div id="pet-body">
                <div id="pet-buttons">
                    <div class="pet-selferror" id="pet-selferror"></div>
                    {{ $petMethodNames := .PetMethodNames }}
                    {{ range $i, $method := .PetMethods }}
                    <div class="pet-button">
                        <a href="#">
                            <div class="pet-button-btn pet-data-action" id="pet-{{$pet.Id}}-{{$method}}-btn" data-method="{{ $method }}">
                                <div class="pet-button-text" id="pet-{{$pet.Id}}-{{$method}}-btntext">{{ index $petMethodNames $method }}</div>
                            </div>
                        </a>
                        <div class="pet-button-overlay" id="pet-{{$pet.Id}}-{{$method}}-overlay"></div>
                        <div class="pet-button-overlayText" id="pet-{{$pet.Id}}-{{$method}}-overlaytxt"></div>
                        <div class="pet-button-stats">
                            <div class="pet-stats-label">RECEIVED</div>
                            <div class="pet-stats-stat" id="pet-{{$pet.Id}}-{{$method}}-recieved">{{ $pet.GetPets $method }}</div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
            <div id="pet-bottom">
                <table class="table">
                    <tbody>
                        <tr class="row">
                            <th class="col">
                                Last love received:
                            </th>
                        </tr>
                        <tr class="row">
                            <td class="col">
                                <span>{{ if eq ($pet.PetsRecievedAt.UnixNano) (0) }}
                                    <em>never</em>
                                {{ else }}
                                    {{ $pet.PetsRecievedAt.Format "Jan 02, 2006" }}
                                {{ end }}
                            </span>
                            </td>
                        </tr>
                        <tr class="row">
                            <th class="col">
                                Total love received:
                            </th>
                        </tr>
                        <tr class="row">
                            <td class="col">
                                <span>{{ $pet.PetsRecievedTotal }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="pet-settings-triangle-bottom"></div>
    <div class="websocket-alert" id="websocket-alert"></div>
    {{ if call .Account.HavePermission "MODERATOR" }}
        <div class="modal fade" id="pet-edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="pet-settings-triangle-top"></div>
                    <div class="modal-header">
                        <h5 class="modal-title">Edit {{$pet.Name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="modal-close-button">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/settings/name?petId={{$pet.Id}}" method="post" id="mod-edit-name">
                            <div class="settings-inputgroup">
                                <p>CHANGE DISAPLY NAME</p>
                                <div class="row settings-current">
                                    <div class="col-3">
                                        <label>current name:</label>
                                    </div>
                                    <div class="col" id="settings-currentname">
                                        {{$pet.Name}}
                                    </div>
                                </div>
                                <div class="row settings-input">
                                    <div class="col">
                                        <input type="text" name="name" id="settings-nameinput" placeholder="Displayname" value="{{$pet.Name}}"/>
                                    </div>
                                </div>
                                <div class="row settings-buttons">
                                    <div class="col">
                                        <span class="settings-errormsg" id="settings-name-errormsg">You need to consent that your name is not offenssive.</span>
                                        <div class="mod-buttons">
                                            <button type="submit" class="btn settings-button" id="settings-name-submit">Set name</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form action="/settings/image/delete?petId={{$pet.Id}}" method="post" id="mod-edit-image">
                            <div class="settings-inputgroup">
                                <div class="row settings-input">
                                    <div class="col">
                                        <form action="/settings/image/delete?petId={{$pet.Id}}" method="post" id="settings-image-delete">
                                            <span class="settings-errormsg" id="settings-image-errormsg">You need to consent that your name is not offenssive.</span>
                                            <button type="submit" class="btn settings-button" id="settings-name-submit">Remove image</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="pet-settings-triangle-bottom"></div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="pet-ban-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="pet-settings-triangle-top"></div>
                    <div class="modal-header">
                        <h5 class="modal-title">Ban {{$pet.Name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="modal-close-button">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-delete">
                            Are you sure you want to ban {{$pet.Name}} permamently?
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="mod-buttons">
                            <button type="button" class="mod-button errormsg-error" data-dismiss="modal">
                                CANCEL
                            </button>
                            <form action="/settings/ban?petId={{$pet.Id}}" method="post" id="mod-pet-ban">
                                <span class="settings-errormsg" id="settings-ban-errormsg">User {{$pet.Name}} has been banned</span>
                                <button type="submit" class="mod-button errormsg-success">
                                    BAN
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="pet-settings-triangle-bottom"></div>
                </div>
            </div>
        </div>
    {{ end }}
</div>
<script type="text/javascript">
let page = 'lower';
</script>
<script type="text/javascript" src="/static/js/generalPurpose.js"></script>
{{ end }}

{{ define "head" }}
	<script type="text/javascript">
		const petId = {{ .Data.Id }};
        {{ if .LoggedIn }}
            const ownPetId = {{ .Account.Pet.Id }};
        {{ else }}
            const ownPetId = -1;
        {{ end }}
        const petLink = 'https://petting.town' + {{ .Data.Url }};
	</script>
	<script type="text/javascript" src="/static/js/pet.js" async></script>
{{ end }}

{{ define "title" }} - {{ .Data.Name }}{{ end }}
