{{ define "pageupper" }}
    ABOUT
{{ end }}
{{ define "pagelower" }}
    Learn a little more about us
{{ end }}
{{ define "content" }}
<div id="general-content">
    <section class="general-section">
        <div class="triangle-top triangle-top-main"></div>
        <h1 class="general-section-header">
            Terms of Service
        </h1>
        <article class="general-article">
            <div class="general-article-content">
                <div class="triangle-bottom triangle-bottom-main"></div>
                <h3 class="general-article-header">Please read and follow these.</h3>
                <p class="general-article-text">
                    <b>1.</b> Do not use any offensive / NSFW names. Keep them suitable for all ages. If you do not follow these rules, your name will be changed, or worse.
                </p>
                <p class="general-article-text">
                    <b>2.</b> Only upload images, which you hold the permission to redistribute (for example copyright). By uploading images to our site you agree to give us permissions to store and use it non-commercially on our site. Furthermore, you are only allowed to upload images suitable for all ages and without offensive themes. If you do not follow these rules, your image will be removed, or worse.
                </p>
                <p class="general-article-text">
                    <b>3.</b> A failure to comply to our Terms of Services can result in your account getting blocked from our website. You will be able to log in, however you will be unable to receive affection.
                </p>
            </div>
        </article>
        <div class="triangle-bottom triangle-bottom-light"></div>
    </section>
    <div class="general-break"></div>
    <section class="general-section">
        <div class="triangle-top triangle-top-main"></div>
        <h1 class="general-section-header">
            cookies
        </h1>
        <article class="general-article">
            <div class="general-article-content">
                <div class="triangle-bottom triangle-bottom-main"></div>
                <h3 class="general-article-header">We have to mention these.</h3>
                <p class="general-article-text">
                    We use cookies so that you are be able to log in and use our services. We do not use <b>any</b> third-party cookies. We do not track you. By using our website you consent to using these necessary cookies.
                </p>
            </div>
        </article>
        <div class="triangle-bottom triangle-bottom-light"></div>
    </section>
    <div class="general-break"></div>
    <section class="general-section">
        <div class="triangle-top triangle-top-main"></div>
        <h1 class="general-section-header">
            Privacy
        </h1>
        <article class="general-article">
            <div class="general-article-content">
                <div class="triangle-bottom triangle-bottom-main"></div>
                <h3 class="general-article-header">We care about your safety.</h3>
                <p class="general-article-text">
                    We care about your privacy, as such we collect as little data as necessary. We collect the following:
                </p>
                <div class="triangle-top triangle-top-main"></div>
                <ul class="general-list">
                    <li class="general-list-item">
                        Your login method and external service ID, for example Reddit, or Discord link (to be able to identify you)
                    </li>
                    <li class="general-list-item">
                        Data generated on our website itself (image uploaded, affection received/given, XP, achivements, etc.)
                    </li>
                    <li class="general-list-item">
                        Statistics related to giving/receiving affection, as shown <a href="/stats" class="general-article-link">here</a>
                    </li>
                </ul>
                <div class="triangle-bottom triangle-bottom-main"></div>
            </div>
        </article>
        <div class="triangle-bottom triangle-bottom-light"></div>
    </section>
    <div class="general-break"></div>
    <section class="general-section">
        <div class="triangle-top triangle-top-main"></div>
        <h1 class="general-section-header">
            team
        </h1>
        <article class="general-article">
            <div class="general-article-content">
                <div class="triangle-bottom triangle-bottom-main"></div>
                <h3 class="general-article-header">The volunteers behind it.</h3>
                <p class="general-article-text">
                    We are volunteers working on this project in our free time. We strive to give you the best experience possible! If you have any issues, bug reports, or just questions, feel free to contact us.
                </p>
                <div id="general-card-list">
                    {{ range $team := .Data.Team }}
                        {{ template "team-card" $team }}
                    {{ end }}
                </div>
            </div>
        </article>
        <div class="triangle-bottom triangle-bottom-light"></div>
    </section>
    <div class="general-break"></div>
    <section class="general-section">
        <div class="triangle-top triangle-top-main"></div>
        <h1 class="general-section-header">
            contact
        </h1>
        <article class="general-article">
            <div class="general-article-content">
                <div class="triangle-bottom triangle-bottom-main"></div>
                <h3 class="general-article-header">Feel free to contact us.</h3>
                <p class="general-article-text">
                    If you have any further questions, please contact us via <a href="mailto:someemail" class="general-article-link" target="_blank">email</a>, or our <a href="https://discord.gg/FXvHNUyk" class="general-article-link" target="_blank">discord</a> server.
                </p>
            </div>
        </article>
        <div class="triangle-bottom triangle-bottom-light"></div>
    </section>
</div>
<script type="text/javascript">
let page;
let container;
</script>
<script type="text/javascript" src="/static/js/generalPurpose.js"></script>
{{ end }}
