{{ define "pageupper" }}
    Stats
{{ end }}
{{ define "pagelower" }}
    High scores and leaderboards
{{ end }}
{{ define "content" }}
{{ $stats := .Data }}
<div id="stats-content">
    <section class="general-section">
        <div class="triangle-top triangle-top-main"></div>
        <h1 class="general-section-header">
            affection
        </h1>
        <article class="general-article">
            <div class="general-article-content">
                <div class="triangle-bottom triangle-bottom-main"></div>
                <h3 class="general-article-header">
                    High-scores!
                </h3>
                <p class="general-article-text">
                    Please, remember we <b>ONLY</b> store your pet page stats: affection, XP, level, display name and service link! We do <b>NOT</b> store passwords, emails, birthdates, etc.
                </p>
                <div class="stats">
                {{ range $timespan := $stats.Timespans }}
                    <div class="stats-holder">
                        <div class="triangle-top triangle-top-main"></div>
                        <a class="stats-header" data-toggle="collapse" href="#per-{{$timespan}}" role="button" aria-expanded="false" aria-controls="per-{{$timespan}}">
                            PER {{ $timespan }} <i class="fa fa-caret-down stats-caret"></i>
                        </a>
                        <div class="stats-frame collapse" id="per-{{$timespan}}">
                        {{ range $given := $stats.GivenTypes }}
                            <h5 class="stats-giveceive">{{$given}}</h5>
                            <div class="triangle-bottom triangle-bottom-darktet"></div>
                            {{$entries := $stats.GetEntries $given $timespan}}
                            {{ if not $entries }}
                            <div class="stats-none">none</div>
                            {{ else }}
                            <table class="table stats-table">
                                <thead>
                                    <tr class="stats-row">
                                        <th scope="col" class="stats-table-header">
                                            Position
                                        </th>
                                        <th scope="col" class="stats-table-header">
                                            Affection
                                        </th>
                                        <th scope="col" class="stats-table-header">
                                            Pet
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{range $p, $entry := $entries}}
                                {{ $place := add $p 1 }}
                                {{ $pet := getPet $entry.Id }}
                                <tr class="stats-row">
                                    <td scope="row" class="stats-column stats-table-text">
                                        <b>#</b>{{$place}}
                                    </td>
                                    <td class="stats-column stats-table-text">
                                        {{$entry.Amount}}
                                    </td>
                                    <td class="stats-column">
                                        {{ if $pet }}
                                            <a href="{{$pet.Url}}" target="_blank" class="stats-pet-link">
                                                <span class="stats-pet-text">{{$pet.Name}}</span>
                                                {{if $pet.Image}}
                                                <div class="stats-pet-img float-sm-right mx-auto" style="background-image: url({{$pet.Image}});"></div>
                                                {{end}}
                                            </a>
                                        {{ else }}
                                        <div class="stats-none">deleted</div>
                                        {{ end }}
                                        </td>
                                    </tr>
                                {{ end }}
                                </tbody>
                            </table>
                            {{ end }}
                        {{ end }}
                        </div>
                        <div class="triangle-bottom triangle-bottom-main"></div>
                    </div>
                {{ end }}
                </div>
            </div>
        </article>
    </section>
    <div class="triangle-bottom triangle-bottom-light"></div>
</div>
<script type="text/javascript">
let page;
let container;
</script>
<script type="text/javascript" src="/static/js/generalPurpose.js"></script>
{{ end }}
