/* ============== */
/*
PLEASE NO TOUCHING
unless you know what youre doing and are just going to theme it.
THEN I GUESS ITS OKAY!
But changing more than COLOURS, I would advise against.
It's basically hanging on duct tape and glue LOL

OH ALSO
Copyright Petting.Town @ 2019-2020
So you know.
*/
/* ============== */

/* ============== */
/* ROOT */
/* ============== */
:root {
    --main: rgb(141, 151, 194);
    --mainaccnt: rgb(168, 177, 218);
    --dark: rgb(30, 35, 48);
    --darkaccnt: rgb(46, 53, 80);
    --darktet: rgb(64, 76, 107);
    --light: rgb(255, 255, 255);
    --sccss: rgb(96, 150, 76);
    --sccssaccnt: rgb(31, 80, 15);
    --error: rgb(179, 62, 62);
    --erroraccnt: rgb(88, 15, 15);
    --warn: rgb(221, 181, 69);
}

*,
body,
html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

* {
    font-family: "Roboto", sans-serif;
}

html,
body {
    width: 100%;
    min-width: 400px;
    background: var(--dark);
}

a {
    text-decoration: none;
    display: block;
}

a:hover,
a:focus {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0px;
}

button {
    padding: 0px;
    margin: 0px;
    display: block;
}

.table {
    margin-bottom: 0px;
}

.table th {
    padding: 5px;
    border-top: 0px !important;
}

.table thead th {
    border-bottom-color: var(--darktet);
}

/* ============== */
/* TRANSITIONS */
/* ============== */
.nav-item,
.navbar-dark .navbar-nav .nav-link,
#navbar-profile-menu .dropdown-item,
.general-card-pet-link,
#pet-get-link,
.pet-button-btn,
.general-card-link-icon,
.settings-error-msg,
.settings-checkmark,
.general-button,
#pet-link-copied,
button,
a {
    transition-duration: 0.25s;
}

/* ============== */
/* MAIN */
/* ============== */
#general-container,
#general-top-container,
#general-bottom-container,
#general-top,
#general-top-upper,
#general-top-lower,
#general-content {
    width: 100%;
    position: relative;
}

#general-container {
    margin-top: 150px;
    margin-bottom: 150px;
}

.general-article-header {
    position: relative;
    margin: 0px 0px 20px 0px;
}

.general-article-header:after {
    position: absolute;
    left: 0px;
    bottom: -10px;
    content: '';
    height: 3px;
    background-color: var(--main);
    width: 100%;
}

#general-card-list {
    text-align: center;
    width: 100%;
}

.general-warning {
    font-size: 80px;
}

#general-top-container {
    margin-top: 150px;
    margin-bottom: 150px;
}

#general-top {
    text-transform: uppercase;
    padding: 50px 20px;
    text-align: center;
}

#general-top-upper {
    font-size: 64px;
}

#general-top-lower {
    margin-top: 25px;
    font-size: 36px;
}

.general-break {
    height: 250px;
}

.general-article-content {
    padding: 0px 24px 24px 24px;
}

.general-article-text {
    font-size: 16px;
}

.general-section-header {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin: 0px;
}

.general-pet-cards {
    display: inline-block;
}

.general-pet-card {
    text-align: center;
}

.general-pet-card-username {
    width: 100%;
    position: relative;
    padding: 5px 0px;
}

.general-pet-card img {
    display: block;
    width: 100%;
    height: auto;
}

.general-list {
    border: 2px solid;
    padding: 3px;
}

.general-list-item {
    position: relative;
    padding: 3px;
    margin: 3px 0px;
}

.general-list-item:after {
    content: '';
    left: 10px;
    right: 10px;
    position: absolute;
    height: 2px;
    bottom: 0px;
}

.general-article-link,
#footer a {
    display: inline-block;
    margin: 0px 3px;
    padding: 0px 5px;
    border: 2px solid;
    text-transform: uppercase;
    font-weight: bold;
}

#login-content {
    margin: auto;
    width: 300px;
}

#login-snippet {
    font-size: 12px;
}

.general-button {
    width: 100%;
    position: relative;
    margin: 10px 0px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px solid;
    padding: 3px 5px;
}

.login-button{
    padding: 8px 7px;
}

.general-button-icon {
    float: right;
    right: 0px;
    font-size: 30px;
    position: relative;
    top: -5px;
}

/* ============== */
/* HEADER */
/* ============== */
.navbar {
    border-bottom: 5px solid var(--main);
}

.nav-item {
    margin-left: 10px;
}

.nav-link {
    font-weight: bold;
    font-size: 18px;
    /* padding: 0px 0px 0px .5rem !important; */
}

#navbar-profile-menu-img {
    width: 38px;
    height: 38px;
    border: 1px solid var(--light);
    position: relative;
}

#navbar-profile-menu {
    left: -120px;
    top: 55px;
    width: 200px;
    border: 2px solid var(--main);
}

#navbar-profile-menu .dropdown-item {
    text-transform: capitalize;
    padding: 5px 10px;
}

#navbar-profile-name {
    text-align: center;
    padding: 5px;
    font-size: 16px;
}

.dropdown-menu {
    padding: 0px;
}

.dropdown-item-icon {
    position: absolute;
    padding: 5px;
    right: 10px;
}

/* ============== */
/* FOOTER */
/* ============== */
#footer {
    width: 100%;
    border-top: 5px solid var(--main);
}

#footer-content-container {
    padding: 10px;
}

#footer-content {
    position: relative;
    width: 75%;
    margin: auto;
    padding: 20px 50px;
    font-size: 14px;
}

#footer-copyright {
    position: relative;
    padding: 20px;
    text-align: center;
    font-size: 12px;
}

/* ============== */
/* CARDS */
/* ============== */
.general-card {
    max-width: 160px;
    min-width: 160px;
    display: inline-block;
    margin: 10px 5px;
}

.general-card-top {
    font-weight: bold;
    padding: 5px 0px;
    min-height: 60px;
}

.general-card-name {
    text-align: center;
}

.general-card-middle {
    padding: 10px 0px;
}

.general-card-image {
    width: 128px;
    margin: auto;
    height: 180px;
}

.general-card-img {
    width: inherit;
    height: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.general-card-role {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 5px 0px;
}

.general-card-bottom {
    width: 100%;
    padding: 10px 0px;
}

.general-card-links {
    padding-top: 5px;
    min-height: 50px;
}

.general-card-link {
    display: inline-block;
}

.general-card-link-icon {
    padding: 5px 3px;
    border: 2px solid;
    font-size: 24px;
    text-align: center;
    min-width: 34px;
}

.general-card-stats-stat {
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.general-card-pet-link {
    padding: 5px;
    border: 2px solid transparent;
}

/* ============== */
/* WORKING ON THINGS */
/* ============== */


/* ============== */
/* STATS */
/* ============== */
.stats-holder {
    margin: 20px 0px;
}

.stats-header {
    font-size: 26px;
    padding: 3px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border: 3px solid;
}

.stats-frame {
    border-bottom: 3px solid var(--main);
    border-left: 3px solid var(--main);
    border-right: 3px solid var(--main);
}

.stats-giveceive {
    padding: 10px;
    text-align: center;
    margin: 0px;
    text-transform: uppercase;
    font-weight: bold;
}

.stats-table-header {
    font-size: 16px;
    text-transform: uppercase;
}

.stats-column {
    padding: 3px 5px !important;
    vertical-align: middle !important;
    border-top: 0px solid transparent !important;
    position: relative !important;
    font-size: 14px !important;
}

.stats-column:after {
    content: '';
    background: var(--main);
    height: 1px;
    position: absolute;
    bottom: 0px;
    left: 10px;
    right: 10px;
}

.stats-table-text {
    line-height: 3em;
}

.stats-pet-link {
    border: 2px solid;
    padding: 5px 10px;
    min-height: 52px;
    font-weight: bold;
}

.stats-pet-text {
    position: relative;
    top: 8px;
}

.stats-pet-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 38px;
    height: 38px;
}

.stats-none {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

.stats-caret {
    transition-duration: 0.3s;
}

/* ============== */
/* SETTINGS */
/* ============== */
.settings-row {
    border-bottom: 2px solid var(--main);
    margin: 0px !important;
}

.settings-left-column {
    border-right: 2px solid var(--main);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}

.settings-right-column {
    padding: 10px 20px;
    font-size: 16px;
}

.settings-input-group {
    margin: 10px 0px;
}

.settings-label {
    font-weight: bold;
    position: relative;
}

.settings-label:after {
    content: '';
    left: 5px;
    width: 125px;
    position: absolute;
    height: 2px;
    bottom: 0px;
}

#settings-name-input {
    margin: 5px 0px;
    position: relative;
    border: 2px solid var(--main);
    padding: 5px;
    width: 100%;
    position: relative;
}

.settings-error-msg {
    display: none;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
}

.settings-required {
    left: -15px;
    color: red;
}

#settings-current-image,
#settings-new-image,
.settings-right-column-img {
    width: 100%;
    position: relative;
    margin: 10px 0px;
}

#settings-image-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#settings-image-input-label {
    text-align: center;
}

#settings-image-input-label:focus,
#settings-image-input-label:hover {
    cursor: pointer;
}

/* dont delete this is custom checkbox */
.settings-checkbox {
    font-weight: bold;
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 20px 0px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.settings-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0px;
    width: 0px;
}

.settings-checkmark {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 32px;
    width: 32px;
    border: 2px solid var(--main);
}

.settings-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.settings-checkbox input:checked~.settings-checkmark:after {
    display: block;
}

.settings-checkbox .settings-checkmark:after {
    left: 9px;
    top: 5px;
    width: 10px;
    height: 15px;
    border: solid var(--light);
    border-width: 0px 3px 3px 0px;
    transform: rotate(45deg);
}

/* ============== */
/* PET PAGE */
/* ============== */
#pet-header,
#pet-header-stats {
    background: var(--darktet);
}

#pet-header {
    transition: 0.3s;
}

#pet-header:hover {
    background: var(--main);
}

#pet-header-stats {
    border-radius: 0px;
}

#pet-article {
    color: white;
}

#pet-image {
    width: 100%;
    height: 600px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.pet-image-limiter {
    height: 1080px !important;
}

.pet-body {
    border-left: 2px solid var(--darktet);
    border-right: 2px solid var(--darktet);
    border-bottom: 2px solid var(--darktet);
}

#pet-link,
#pet-image-full,
#pet-image-size {
    background: var(--darktet);
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0em;
    text-align: center;
}

#pet-link:hover,
#pet-link:focus,
#pet-image-full:hover,
#pet-image-full:focus,
#pet-image-size:hover,
#pet-image-size:focus {
    background: var(--main);
    color: var(--light);
}

.pet-errors {
    display: none;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    border-radius: 0.5em;
    margin: 10px;
}

#pet-stats-body {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding: 0px 12px 24px 12px;
    background: var(--darkaccnt);
}

.pet-stats-row {
    padding: 5px;
    position: relative;
}

.pet-stats-row:after {
    position: absolute;
    bottom: 0px;
    left: 20px;
    right: 20px;
    height: 2px;
    border-radius: 0.5em;
    background: var(--darktet);
    content: '';
}

.pet-control-button {
    padding: 3px;
    margin: 3px;
}

.pet-stats-row-label {
    text-align: center;
    position: relative;
    margin: 10px 0px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.pet-stats-row-label:after {
    position: absolute;
    content: '';
    left: 10px;
    right: 10px;
    height: 3px;
    border-radius: 1em;
    background: var(--darktet);
    bottom: -5px;
}

.pet-stats-label {
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    text-align: right;
}

.pet-stats-label:after {
    position: absolute;
    right: 0px;
    bottom: 0px;
    top: 0px;
    width: 5px;
    border-radius: 0.5em;
    background: var(--darktet);
    content: '';
}

#pet-other-names {
    color: white;
    border-left: 2px solid var(--darktet);
    border-right: 2px solid var(--darktet);
    text-align: center;
    background: var(--darkaccnt);
}

#pet-other-names-label {
    position: relative;
    margin: 0px 0px 5px 0px;
    padding: 5px;
}

#pet-other-names-label:after {
    left: 10px;
    right: 10px;
    height: 2px;
    content: '';
    position: absolute;
    bottom: 0px;
}

#pet-other-names-list {
    border-bottom: 2px solid var(--darktet);
    background: var(--dark);
    padding-bottom: 10px;
}

#pet-other-names-button:hover .stats-caret {
    transform: rotate(180deg);
}

.pet-other-names-name {
    position: relative;
    margin: 5px 0px;
    padding: 5px;
}

.pet-other-names-name:after {
    left: 25%;
    right: 25%;
    height: 2px;
    content: '';
    background: var(--darktet);
    position: absolute;
    bottom: 0px;
}

/* ============== */
/* PET BUTTONS */
/* ============== */
#pet-buttons {
    text-align: center;
    margin: 10px 0px;
}

.pet-button-container {
    color: white;
    background: var(--darktet);
    display: inline-block;
    margin: 5px;
    border-radius: 0.5em;
    position: relative;
    height: 50px;
}

.pet-button,
.pet-button-overlay,
.pet-button-overlay-text {
    width: 100%;
    padding: 5px 10px;
    border-radius: 0.5em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    height: 100%;
}

.pet-button {
    border: 2px solid;
    position: relative;
    border-color: var(--main);
}

.pet-button-overlay,
.pet-button-overlay-text {
    position: absolute;
    top: 0px;
    opacity: 0;
    display: none;
}

.pet-button-overlay-text {
    top: 10px;
}

.pet-button-stats {
    position: relative;
}

.pet-button-stats-label {
    padding: 5px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
}

.pet-button-stats-label:after {
    position: absolute;
    bottom: 0px;
    left: 10px;
    right: 10px;
    height: 2px;
    border-radius: 0.5em;
    background: var(--main);
    content: '';
}

.pet-button-stats-stat {
    display: block;
    font-size: 18px;
}

/* ============== */
/* TRIANGLES */
/* ============== */
.triangle-bottom,
.triangle-top {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    width: 0px;
    margin: auto;
}

.triangle-top {
    border-bottom: 25px solid;
}

.triangle-bottom {
    border-top: 25px solid;
}

.triangle-top-big,
.triangle-bottom-big {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    width: 0px;
    margin: auto;
}

.triangle-top-big {
    border-bottom: 50px solid;
}

.triangle-bottom-big {
    border-top: 50px solid;
}

.triangle-top-main {
    border-bottom-color: var(--main);
}

.triangle-top-darkaccnt {
    border-bottom-color: var(--darkaccnt);
}

.triangle-top-darktet {
    border-bottom-color: var(--darktet);
}

.triangle-bottom-main {
    border-top-color: var(--main);
}

.triangle-bottom-light {
    border-top-color: var(--light);
}

.triangle-bottom-darkaccnt {
    border-top-color: var(--darkaccnt);
}

.triangle-bottom-darktet {
    border-top-color: var(--darktet);
}

/* ============== */
/* MEDIA QUERIES */
/* ============== */
@media only screen and (max-width: 575px) {
    #navbar-profile-name {
        font-size: 18px;
    }

    /* BOOTSTRAP */
    .container-md {
        padding-right: 0px;
        padding-left: 0px;
    }

    /* HEADER */
    #navbar-profile-menu {
        border-width: 0px;
    }

    .nav-link {
        font-size: 18px;
        font-weight: bold;
    }

    /* MAIN */
    .general-break {
        height: 100px;
    }

    .general-article-text {
        font-size: 16px;
    }

    .general-section-header {
        font-size: 36px;
        padding: 5px;
    }

    .general-article-content {
        padding: 0px 5px 5px 5px;
    }

    #general-top-upper {
        font-size: 48px;
    }

    #general-top-lower {
        font-size: 22px;
    }

    /* HEADER */
    #navbar-profile-menu {
        width: 100%;
        border-width: 0px;
    }

    #navbar-profile-menu .dropdown-item {
        margin: 5px 0px;
        font-size: 18px;
        padding: 5px 10px;
    }

    .nav-item {
        margin-left: 0px;
        border-radius: 0.4em;
        margin-top: 10px;
        padding: 5px;
        text-align: center;
    }

    .general-card {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* PET */
    #pet-image {
        height: 400px;
    }

    .pet-button-container {
        width: 100%;
        margin: 10px 0px;
    }

    /* STATS */
    .stats-pet-img {
        margin-top: 10px;
    }

    /* SETTINGS */
    .settings-right-column {
        font-size: 16px;
    }
}

/* ============== */
/* FRONT COLORS */
/* ============== */
.nav-item,
.navbar-dark .navbar-nav .nav-link,
#navbar-profile-menu .dropdown-item,
.general-card-pet-link:hover,
.general-card-pet-link:focus,
.general-article-link:hover,
.general-article-link:focus,
.general-card-link-icon:hover,
.general-card-link-icon:focus,
#footer a:hover,
#footer a:focus,
.general-button:hover,
.general-button:focus,
.stats-pet-link:hover,
.stats-pet-link:focus,
.stats-header:hover {
    color: var(--main);
}

article {
    color: var(--dark);
}

.nav-item:hover,
.nav-item:focus,
#navbar-profile-menu .dropdown-item:hover,
#navbar-profile-menu .dropdown-item:focus,
#navbar-profile-name,
#footer-copyright,
.general-pet-card,
.general-card-top,
.general-card-role,
.general-card-bottom,
.general-card-stats-stat,
.general-card-pet-link,
.pet-button-btn,
.general-section-header,
.general-article-link,
.general-card-link-icon,
#footer a,
.general-button,
#general-top,
.stats-pet-link,
.stats-giveceive,
.stats-pet-link,
.stats-header {
    color: var(--light);
}

/* ============== */
/* BACKGROUND COLORS */
/* ============== */
.nav-item:hover,
.nav-item:focus,
#navbar-profile-name,
.general-section-header,
.general-pet-card-username,
.general-card-pet-link,
.settings-checkbox input:checked~.settings-checkmark,
.pet-button-btn:hover,
.pet-button-overlay,
.general-list-item:after,
.general-article-link,
.general-card-link-icon,
#footer a,
.general-button,
.stats-pet-link,
.stats-pet-link,
.stats-header,
.settings-label:after {
    background: var(--main);
}

#navbar-profile-menu .dropdown-item:hover,
#navbar-profile-menu .dropdown-item:focus {
    background: var(--mainaccnt);
}

body,
#navbar-profile-menu,
.navbar,
.general-pet-card,
.general-card-middle {
    background: var(--dark);
}

#footer-content-container,
#general-top {
    background: var(--darkaccnt);
}

.general-card-top,
.general-card-role,
.general-card-bottom,
.general-card-stats-stat,
.stats-giveceive {
    background: var(--darktet);
}

#footer-content,
.general-card-pet-link:hover,
.general-card-pet-link:focus,
.settings-checkmark,
.general-article-link:hover,
.general-article-link:focus,
.general-card-link-icon:hover,
.general-card-link-icon:focus,
#footer a:hover,
#footer a:focus,
.general-article-content {
    background: var(--light);
}

button,
.general-button:hover,
.general-button:focus,
.stats-pet-link:hover,
.stats-pet-link:focus,
.stats-header:hover {
    background: transparent;
}

/* ============== */
/* BORDER COLORS */
/* ============== */
.general-card-link-icon,
.general-article-link,
#footer a,
.general-button,
.stats-pet-link,
.stats-header {
    border-color: transparent;
}

.general-card-pet-link:hover,
.general-card-pet-link:focus,
.general-article-link:hover,
.general-article-link:focus,
.general-card-link-icon:hover,
.general-card-link-icon:focus,
#footer a:hover,
#footer a:focus,
.general-list,
.general-button:hover,
.general-button:focus,
.stats-pet-link:hover,
.stats-pet-link:focus,
.stats-header:hover {
    border-color: var(--main);
}

/* ============== */
/* BORDER RADIUS */
/* ============== */
.settings-checkmark {
    border-radius: 0.25em;
}

.nav-item,
.general-card-link-icon {
    border-radius: 0.4em;
}

#footer-content,
.stats-pet-link,
.stats-pet-img,
.general-list,
.general-article-link,
#footer a,
.general-button,
.settings-row,
.settings-label:after,
#settings-name-input,
.settings-error-msg {
    border-radius: 0.5em;
}

.general-pet-card,
.general-card-img {
    border-radius: 1em;
}

#navbar-profile-menu-img {
    border-radius: 50%;
}

.general-card-pet-link,
.general-article,
.general-article-content,
.stats-frame {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.general-section-header {
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
}

.general-card-top,
.stats-header {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

/* ============== */
/* MISC */
/* ============== */
.websocket-alert {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 10%;
    left: 10%;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    text-transform: uppercase;
    transition-duration: 0.5s;
    z-index: 100;
}

/* ============== */
/* MODERATOR */
/* ============== */
#pet-moderator-container {
    margin: 50px 0px;
}

#pet-moderator-header {
    background: var(--darktet);
}

.pet-moderator-button {
    margin: 0px;
    border-radius: 0px;
}

.mod-event-label {
    background: var(--darktet);
    color: var(--light);
    text-align: center;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    padding: 5px;
}

.mod-event-frame {
    margin: 10px 0px;
}

.mod-event-buttons {
    text-align: center;
}

.mod-event-frame thead {
    background: var(--darktet);
    color: var(--light);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.mod-event-button {
    border-radius: 0px !important;
    margin: 0px;
}

.mod-event-table {
    border-left: 2px solid var(--darktet);
    border-right: 2px solid var(--darktet);
}

.mod-event-img {
    height: 128px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.mod-pet-link {
    padding: 5px;
    border: 2px solid transparent;
    color: var(--light);
    transition-duration: 0.3s;
    background: var(--darktet);
}

.mod-pet-link:hover {
    color: var(--darktet);
    background: var(--light);
    border-color: var(--darktet);
}

.mod-event-icon {
    float: right;
    font-size: 24px;
}

.mod-event-name {
    font-weight: bold;
}

/* ============== */
/* MODAL */
/* ============== */
.modal-content {
    background: transparent;
}

.modal-header,
.modal-close-button {
    background: var(--darktet);
    color: var(--light);
}

.modal-body {
    background: var(--light);
}

.modal-footer {
    display: block;
    background: var(--darktet);
}

.modal-button {
    font-size: 16px;
    padding: 5px 10px;
    margin: 3px;
}

/* ============== */
/* ERRORS */
/* ============== */
.errormsg-success,
.errormsg-error,
.errormsg-warning {
    display: block;
    transition-duration: 0.3s;
    cursor: default;
}

.errormsg-success {
    background: var(--sccss) !important;
    border-color: var(--sccss) !important;
    color: var(--light) !important;
}

.errormsg-success:hover {
    background: var(--sccssaccnt) !important;
}

.errormsg-error {
    background: var(--error) !important;
    border-color: var(--error) !important;
    color: var(--light) !important;
}

.errormsg-error:hover {
    background: var(--erroraccnt) !important;
}

.errormsg-warning {
    background: var(--warn) !important;
    border-color: var(--warn) !important;
    color: var(--dark) !important;
}

.text-bold {
    font-weight: bold;
}

.pet-button-plus-one {
    left: 0px;
    width: 100%;
    border-radius: 0.5em;
    background: var(--sccss);
    position: absolute;
    animation-name: button-to-top;
    animation-duration: 0.5s;
    z-index: 100;
    pointer-events: none;
}

@keyframes button-to-top {
    from {
        top: 0px;
        opacity: 1;
        display: block;
    }

    to {
        top: -50px;
        opacity: 0.7;
    }
}