{{ define "content" }}
<div id="general-content">
    <section class="general-section">
        <div class="triangle-top triangle-top-main"></div>
        <h1 class="general-section-header">
            settings
        </h1>
        <article class="general-article">
            <div class="general-article-content">
                <div class="triangle-bottom triangle-bottom-main"></div>
                <div class="row settings-row">
                    <div class="col-3 settings-left-column">
                        DISPLAY NAME
                    </div>
                    <div class="col settings-right-column">
                        <form action="settings/name" method="POST" id="settings-name-change">
                            <!-- TODO: make this ajax. the endpoint already does json replies -->
                            <!-- {"success": true, "message": "someErrorMessage"} -->
                            <!-- warning popup that changing your name changes your pet URL? -->
                            {{ if .Account.Name }}
                            <p>If you change your name the URL on which you receive affection may change!</p>
                            {{ else }}
                            <p>To be able to receive affection from others you need to set a name!</p>
                            {{ end }}
                            <div class="settings-input-group">
                                <div class="settings-label">
                                    Current name:
                                </div>
                                <div id="settings-current-name">
                                    {{ .Account.Name }}
                                </div>
                            </div>
                            <div class="settings-input-group">
                                <div class="settings-label">
                                    New name:
                                </div>
                                (Minimum: 3 letters | Maximum: 32 letters)<br/>
                                You have: <span class="" id="settings-name-used"></span> left.
                                <input type="text" name="name" class="" id="settings-name-input" placeholder="Desired name here" value="{{.Account.Name}}" minlength="3" maxlength="32" autocomplete="on" />
                            </div>
                            <div class="settings-input-group">
                                <label for="settings-name-consent" class="settings-checkbox"><span class="settings-required">*</span> You consent that your name is <em>NOT</em> NSFW, or offensive.
                                    <input type="checkbox" id="settings-name-consent" />
                                    <span class="settings-checkmark"></span>
                                </label>
                            </div>
                            <div class="settings-input-group">
                                <!-- <div class="settings-error-msg" id="settings-name-error"></div> -->
                                <button type="submit" class="general-button errormsg-success" id="settings-name-submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row settings-row">
                    <div class="col-3 settings-left-column">
                        IMAGE
                        (optional)
                    </div>
                    <div class="col settings-right-column">
                        <form action="settings/image" method="POST" id="settings-image-change">
                            <div class="settings-input-group">
                                <div class="settings-label">
                                    Current image:
                                </div>
                                {{ if .Account.Pet }}
                                {{ if .Account.Pet.Image }}
                                <img src="{{ .Account.Pet.Image }}" id="settings-current-image" />
                                {{ else }}
                                <p><b><em>None</em></b></p>
                                {{ end }}
                                {{ else }}
                                <p><b><em>None</em></b></p>
                                {{ end }}
                            </div>
                            <div class="settings-input-group">
                                <div class="settings-label">
                                    New image:
                                </div>
                                (Maximum: 2 mb)<br>
                                <input type="file" name="image" id="settings-image-input" accept="image/png,image/jpeg,image/gif" />
                                <label for="settings-image-input" class="general-button" id="settings-image-input-label">Choose file</label>
                            </div>
                            <div class="settings-input-group">
                                <label for="settings-image-consent" class="settings-checkbox"><span class="settings-required">*</span> You consent that we can use your image on our website.
                                    <input type="checkbox" id="settings-image-consent" />
                                    <span class="settings-checkmark"></span>
                                </label>
                                <label for="settings-image-nsfw" class="settings-checkbox"><span class="settings-required">*</span> You consent that your image is <em>NOT</em> NSFW, or offensive.
                                    <input type="checkbox" id="settings-image-nsfw" />
                                    <span class="settings-checkmark"></span>
                                </label>
                            </div>
                            <div class="settings-input-group">
                                <!-- <div class="settings-error-msg" id="settings-image-error"></div> -->
                                <button type="submit" class="general-button errormsg-success" id="settings-image-submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </article>
        <div class="triangle-bottom triangle-bottom-light"></div>
    </section>
</div>
<script src="static/js/settings.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<!-- <script src="static/js/settings2.js"></script> -->
<script type="text/javascript">
let page = 'lower';
let container;
let accountCreated;
</script>
<script type="text/javascript" src="/static/js/generalPurpose.js"></script>
{{ end }}