:root {
    --mainblu: rgb(141, 151, 194);
    --accntblu: rgb(168, 177, 218);
    --maindark: rgb(30, 35, 48);
    --accntdark: rgb(56, 63, 90);
    --tetdark: rgb(64, 76, 107);
    --light: rgb(255, 255, 255);
    --sccss: rgb(96, 150, 76);
    --error: rgb(179, 62, 62);
    --warn: rgb(221, 181, 69);
}